name: Mirai Bot Run

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Install canvas dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          libcairo2-dev \
          libjpeg-dev \
          libpango1.0-dev \
          libgif-dev \
          build-essential \
          g++ \
          pkg-config \
          libpixman-1-dev

    - run: npm install
    - run: npm start
